/* Colours */
$blue50: #5696f6;
$blue60: #2b7bf4;
$blue70: #2a5ca7;
$darkblue30: #7a8faf;
$darkblue50: #012966;
$darkblue70: #01193d;
$green50: #9fd966;
$green60: #74bd28;
$green70: #6a9440;
$grey40: #ccc;
$grey70: #666;
$grey80: #333;
$red50: #e85e22;
$red60: #cb4b15;
$red70: #9f370b;
$yellow50: #fbd43f;
$yellow60: #e7b60d;
$yellow70: #ce8e0e;
$black: #101010;
$white: #fff;

/* Colour Classes */
.blue {
	&50 {
		background-color: $blue50;
	}

	&60 {
		background-color: $blue60;
	}

	&70 {
		background-color: $blue70;
	}
}

.darkblue {
	&30 {
		background-color: $darkblue30;
	}

	&50 {
		background-color: $darkblue50;
	}

	&70 {
		background-color: $darkblue70;
	}
}

.green {
	&50 {
		background-color: $green50;
	}

	&60 {
		background-color: $green60;
	}

	&70 {
		background-color: $green70;
	}
}

.grey {
	&40 {
		background-color: $grey40;
	}

	&70 {
		background-color: $grey70;
	}

	&80 {
		background-color: $grey80;
	}
}

.red {
	&50 {
		background-color: $red50;
	}

	&60 {
		background-color: $red60;
	}

	&70 {
		background-color: $red70;
	}
}

.yellow {
	&50 {
		background-color: $yellow50;
	}

	&60 {
		background-color: $yellow60;
	}

	&70 {
		background-color: $yellow70;
	}
}

/* Utilities */
$border: .4rem solid $black;
$border-radius: .2rem;
$box-shadow: .4rem .4rem 0 $black;

/* Font Weight */
$light: 300;
$regular: 400;
$bold: 700;

/* Font Family */
@font-face {
	font-family: 'Bricolage Grotesque Light';
	src: url('../fonts/Bricolage-Grotesque-Light.woff2'), format('woff2');
	font-weight: $light;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('../fonts/Bricolage-Grotesque-Regular.woff2'), format('woff2');
	font-weight: $regular;
}

@font-face {
	font-family: 'Bricolage Grotesque Bold';
	src: url('../fonts/Bricolage-Grotesque-Bold.woff2'), format('woff2');
	font-weight: $bold;
}

/* Fonts */
$font-light: 'Bricolage Grotesque Light', sans-serif;
$font-regular: 'Bricolage Grotesque', sans-serif;
$font-bold: 'Bricolage Grotesque Bold', sans-serif;

/* Levels */
$level-one: 100;
$level-two: 200;

/* Mixins */
@mixin border {
	border: $border;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

/* Basic Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: $font-regular;
	font-size: 62.5%;
}

body {
	background-color: $grey40;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 1.6rem;
    margin: 0 auto;
	max-width: 132rem;
	min-height: 100vh;
	width: 100%;
}

h1,
h2 {
	font-family: $font-bold;
}