.alpaca-generator {
	&__header {
		&-title {
			font-size: 4.8rem;
		}

		&-author {
			font-size: 2rem;
		}
	}

	&__select {
		&-category {
			font-size: 2rem;
			margin-bottom: 0.8rem;
		}

		&-button {
			cursor: pointer;
			border: none;
			border-radius: 0.4rem;
			padding: 0.8rem;
			position: relative;
			text-transform: uppercase;
			overflow: hidden;

			span {
				background-color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 0;
				height: 100% !important;
				width: 3rem !important;
			}
	
			&--background {
				background-color: $blue50;
				color: transparent;

				svg {
					stroke: $black;
				}
			}
		}

		&-popover {
			background-color: $white;
			border-radius: .4rem;
			margin-top: .2rem;
			overflow: hidden;

			&--background {
				border-radius: .4rem;
				display: flex;
				flex-wrap: wrap;
			}
		}

		&-item {
			cursor: pointer;
			padding: .8rem; 

			&--background {
				color: transparent;
				flex: 1;
				height: 4.5rem;
				width: 4.5rem;
			}
		}

		&-item[data-active-item] {
			background-color: hsl(204 100% 40%);
		}
	}
}
