.alpaca-generator {
	&__header {
		text-align: center;
		margin: 1.6rem 0;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__images {
		position: relative;
		flex: 2;
		height: 40rem;
		max-width: 40rem;
		width: 100%;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 40rem;


		&--eyes,
		&--hair,
		&--mouth {
			z-index: $level-one;
		}

		&--accessories {
			z-index: $level-two;
		}
	}

	&__select {
		display: flex;
		justify-content: center;
		flex: 1;
		flex-wrap: wrap;
		gap: 2rem;
		text-transform: uppercase;

		&-container {
			display: flex;
			flex-direction: column;
		}
		
		&-button {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: .8rem;
			min-width: 13rem;

			svg {
				transition: all .25s ease-in-out;
			}
		}

		&-button[aria-expanded="true"] {
			svg {
				transform: rotate(180deg);
			}
		}

		&-popover {
			z-index: $level-two;

			&:focus {
				outline: none;
			}
		}
	}

	&__footer {
		text-align: center;
	}
}
